$sans-serif-font: "Poppins",
"Verdana",
sans-serif;

$color-bg: hsl(214, 31%, 91%);
$color-main: hsl(210, 29%, 24%);
$color-white: hsl(0, 0%, 100%);
$color-accent: hsl(251, 96%, 69%);
$color-red-dark: hsl(342, 59%, 41%);
$color-red-light: hsla(335, 94%, 67%, 0.1);
$color-green-light: hsla(157, 100%, 72%, 0.3);
$color-border-light: rgb(128, 128, 128);
$color-box-shadow-accent: rgb(137, 220, 245);

$border-radius-small: 5px